<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <style>
        p {
    text-align: left
    }
    </style>
</head>
<body>
<h1>Рагозин Владислав</h1>
<img src="../myimage.jpg" alt="no image" height="600" width="800" />
<p>Мир вашему дому. На этой странице вы найдёте <a href="https://vk.com/id153929541">мои</a> заметки
    о том, как проходит моё обучение по профессии <strong>разработчик на python</strong>.
    <p>Здесь Вы сможете прочесть о пути
    одного человека, решившего <em>поменять свою профессию</em>. Делающего ещё один шаг <del>в пропасть</del> к своей мечте, к новой <mark>Вершине</mark>.</p>

</body>
</html>